.test {
    font-size: 18px;
    color: #313131;
}
.test1 {
    color: #313131;
    font-weight: bold;
}

.test2 {
    color: #313131;
    font-weight: bold;
}

.test3 {
    color: #313131;
    font-weight: bold;
}
