h1 {
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif
}

h2 {
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif
}

body {
    font-family: Georgia, "Times New Roman",
    Times, serif;
    color: purple;
    background-color: #d8da3d
}

.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted
}

p {

}


